<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cadastro.css">
    <title>Votacao</title>
</head>
<body>
    <main class="mainContent">
        <section class="formContent">
            <h1 class="tituloForm">Cadastrar</h1>
            <form action="cadastro" method="POST" class="formCadastro">
                <input type="text" name="name" placeholder="nome" class="inputForm">
                <input type="password" name="password" placeholder="senha" class="inputForm">
                <input type="submit" placeholder="Cadastrar" class="inputForm inputSubmit">
            </form>
        </section>
    </main>
</body>
</html>